<!DOCTYPE HTML>
<html>
<!-- TODO add easy label swaps for AUX# -->

<head>
    <title>Pool-Pi</title>
    <!-- TODO add favicon -->
    <link rel="stylesheet" href="/../static/styles.css">
    <script src='/../static/jquery.min.js'></script>
    <script src='/../static/socket.io.js'></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function () {
                socket.emit('my_event', { data: 'I\'m connected!' });
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function (msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            // Handler for the model update
            socket.on('model', function (msg) {
                msgObj = JSON.parse(msg);
                // For every item in json message, need to update
                for (var i = 0, len = Object.keys(msgObj).length; i < len; ++i) {
                    attributeName = Object.keys(msgObj)[i]
                    if (attributeName == "flag_data_changed") {
                        break;
                        // TODO filter this on backend so it's not sent as JSON
                    }
                    if (attributeName == "last_update_time") {
                        break;
                        // TODO filter this on backend so it's not sent as JSON
                    }

                    if (typeof (msgObj[attributeName]) == "object") {
                        // Attribute has state and version value (is a button)
                        state = msgObj[attributeName].state;
                        version = msgObj[attributeName].version;
                        // TODO handle init and blinking states
                        if (state == "ON") {
                            if ($("#" + attributeName).attr('class') == "toggler off") {
                                $("#" + attributeName).toggleClass('off');
                            }
                        }
                        else if (state == "INIT") {
                            continue
                        }
                        else if (state == "OFF") {
                            if ($("#" + attributeName).attr('class') == "toggler") {
                                $("#" + attributeName).toggleClass('off');
                            }
                        }
                        else if (state == "BLINK") {
                            continue
                        }
                        // Update version
                        $("#" + attributeName).attr('version', version);

                    }
                    else {
                        // Attribute only has state value (is not a button)
                        if (attributeName == "display") {
                            // Parse display from one line into two
                            document.getElementById("display1").textContent = msgObj[attributeName].substring(0, 20);
                            document.getElementById("display2").textContent = msgObj[attributeName].substring(20, 40);
                        }
                        else {

                            // Update corrosponding html
                            document.getElementById(attributeName).textContent = msgObj[attributeName];
                        }
                    }
                }
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function (event) {
                socket.emit('my_event', { data: $('#emit_data').val() });
                return false;
            });
            $('switch.toggler').click(function () {
                $(this).toggleClass('off');
                switchID = $(this).attr('id');
                switchVersion = $(this).attr('version');
                if ($(this).attr('class') == 'toggler') {
                    switchState = 'ON';
                }
                else {
                    switchState = 'OFF';
                }
                console.log(switchID, switchState, switchVersion);
                socket.emit('my_toggle_event', { 'id': switchID, 'data': switchState, 'version': switchVersion });
            });
            $('.button').click(function () {
                buttonID = $(this).attr('id');
                alert("Handler for " + buttonID + " called.");
            });
        });
    </script>
</head>

<body>
    <h1>Pool-Pi</h1>

    <div class="panel">
        <div class="loading">
            <img class="loading-image" src='/../static/loading.gif' alt="Loading..." />
        </div>
        <div class="topPanel">
            <div class="topLeft">
                <!-- TODO update css to prevent initial shifting from display empty to display having content -->
                <div class="display">
                    <div id="display1"></div>
                    <div id="display2"></div>
                </div>
            </div>
            <div class="topRight">
                <div class="buttonContainer">
                    <div class="buttonRow">
                        <div id="plus" class="button">+</div>
                    </div>
                    <div class="buttonRow">
                        <div id="left" class="button">Left</div>
                        <div id="menu" class="button">Menu</div>
                        <div id="rigt" class="button">Right</div>
                    </div>
                    <div class="buttonRow">
                        <div id="minus" class="button">-</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO combine pool/spa/spillover switches -->
        <!-- TODO test led blinking through service -->
        <!-- TODO make service LED red -->
        <div class="switch-row-container">
            <div class="switch">SERVICE: <switch id="service" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
        <div class="switch-row-container">
            <div class="switch">POOL: <switch id="pool" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
        <div class="switch-row-container">
            <div class="switch">SPA: <switch id="spa" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
        <div class="switch-row-container">
            <div class="switch">SPILLOVER: <switch id="spillover" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
        <div class="switch-row-container">
            <div class="switch">FILTER PUMP: <switch id="filter" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
        <div class="switch-row-container">
            <div class="switch">POOL LIGHT: <switch id="lights" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
        <div class="switch-row-container">
            <div class="switch">HEATER: <switch id="heater1" href="#" class="toggler off">&nbsp;</switch>
            </div>
            <div class="switch">SPA LIGHT: <switch id="aux1" href="#" class="toggler off">&nbsp;</switch>
            </div>
            <div class="switch">WATERFALL: <switch id="aux4" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
        <div class="switch-row-container">
            <div class="switch">VALVE3: <switch id="valve3" href="#" class="toggler off">&nbsp;</switch>
            </div>
            <div class="switch">BLOWER: <switch id="aux2" href="#" class="toggler off">&nbsp;</switch>
            </div>
            <div class="switch">AUX5: <switch id="aux5" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
        <div class="switch-row-container">
            <div class="switch">VALVE4: <switch id="valve4" href="#" class="toggler off">&nbsp;</switch>
            </div>
            <div class="switch">CLEANER: <switch id="aux3" href="#" class="toggler off">&nbsp;</switch>
            </div>
            <div class="switch">AUX6: <switch id="aux6" href="#" class="toggler off">&nbsp;</switch>
            </div>
        </div>
    </div>

    <p>
        air temp: <b><span id="airtemp"></span></b><br>
        pool temp: <b><span id="pooltemp"></span></b><br>
        day: <b><span id="datetime"></span></b><br>
        salinity: <b><span id="salinity"></span></b><br>
        checkSystem: <b><span id="checkSystem"></span></b><br>
    </p>

    systemOff: <switch id="systemOff" href="#" class="toggler off">&nbsp;</switch><br>
    superChlorinate: <switch id="superChlorinate" href="#" class="toggler off">&nbsp;</switch><br>

    aux7: <switch id="aux7" href="#" class="toggler off">&nbsp;</switch><br>
    aux8: <switch id="aux8" href="#" class="toggler off">&nbsp;</switch><br>
    aux9: <switch id="aux9" href="#" class="toggler off">&nbsp;</switch><br>
    aux10: <switch id="aux10" href="#" class="toggler off">&nbsp;</switch><br>
    aux11: <switch id="aux11" href="#" class="toggler off">&nbsp;</switch><br>
    aux12: <switch id="aux12" href="#" class="toggler off">&nbsp;</switch><br>
    aux13: <switch id="aux13" href="#" class="toggler off">&nbsp;</switch><br>
    aux14: <switch id="aux14" href="#" class="toggler off">&nbsp;</switch><br>
    </p>
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>

</html>