<!DOCTYPE HTML>
<html>
<!-- TODO add easy label swaps for AUX# -->
<!-- TODO add toggles for unused switches-->

<head>
    <title>Pool-Pi</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles_simple.css">
    <script src='../static/jquery.min.js'></script>
    <script src='../static/socket.io.js'></script>
    <script src='../static/poolpi.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <img src='../static/favicon.ico' width="35px">
        <h1>Pool-Pi (Simple)</h1>
    </div>

    <div class="panel">
        <div class="overlay">
            <div class="loading">
                <img class="loading-image" src='../static/loading.gif' alt="Loading..." />
            </div>
        </div>
        <div class="topPanel">
            <div class="topLeft">
                <!-- TODO update css to prevent initial shifting from display empty to display having content -->
                <div class="display">
                    <div id="display1"></div>
                    <div id="display2"></div>
                </div>
            </div>
        </div>
        <div class="button-row-container">
            <div class="toggle-element toggle-text">CLEANER</div>
            <div id="led" class="LED off toggle-element"></div>
            <div id="aux3" class="button-toggle button-toggle-blue button-toggle-blue-oval
            noSelect toggle-element"></div>
        </div>
        <div class="button-row-container">
            <div class="toggle-element toggle-text">WATERFALL</div>
            <div id="led" class="LED off toggle-element"></div>
            <div id="aux4" class="button-toggle button-toggle-blue button-toggle-blue-oval
            noSelect toggle-element"></div>
        </div>
        <div id="checkSystem" class="LED off" style="margin: 0px 10px; display: none;"></div>
        <div class="toggle-row" style="display: none;">
            <div class="button-row-container">
                <div class="toggle-element toggle-text">SERVICE</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="service" class="button-toggle button-toggle-red button-toggle-red-oval
            noSelect toggle-element"></div>
            </div>
        </div>
        <div class="toggle-row" style="display: none;">
            <div style="margin: 12px 0px;">
                <div id="pool" class="button-row-container pool-spa-spillover-container">
                    <div class="toggle-element toggle-text">POOL</div>
                    <div id="led" class="LED off toggle-element"></div>
                    <div class="button-spacer"></div>
                </div>
                <div id="spa" class="button-row-container pool-spa-spillover-container">
                    <div class="toggle-element toggle-text">SPA</div>
                    <div id="led" class="LED off toggle-element"></div>
                    <div id="pool-spa-spillover" class="button-toggle button-toggle-blue button-toggle-blue-oval
                    noSelect toggle-element"></div>
                </div>
                <div id="spillover" class="button-row-container pool-spa-spillover-container">
                    <div class="toggle-element toggle-text">SPILL</div>
                    <div id="led" class="LED off toggle-element"></div>
                    <div class="button-spacer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-row" style="display: none;">
            <div class="button-row-container">
                <div class="toggle-element toggle-text">FILTER</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="filter" class="button-toggle button-toggle-blue button-toggle-blue-oval
            noSelect toggle-element"></div>
            </div>
        </div>
        <div class="toggle-row" style="display: none;">
            <div class="button-row-container">
                <div class="toggle-element toggle-text">LIGHTS</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="lights" class="button-toggle button-toggle-blue button-toggle-blue-oval
            noSelect toggle-element"></div>
            </div>
        </div>
        <div class="toggle-row" style="display: none;">
            <div class="button-row-container">
                <div class="toggle-element toggle-text">HEATER1</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="heater1" class="button-toggle button-toggle-blue button-toggle-blue-oval
            noSelect toggle-element"></div>
            </div>
            <div class="button-row-container">
                <div class="toggle-element toggle-text">SPA LIGHT</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="aux1" class="button-toggle button-toggle-blue button-toggle-blue-oval
                noSelect toggle-element"></div>
            </div>

        </div>
        <div class="toggle-row" style="display: none;">
            <div class="button-row-container">
                <div class="toggle-element toggle-text">VALVE3</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="valve3" class="button-toggle button-toggle-blue button-toggle-blue-oval
            noSelect toggle-element"></div>
            </div>
            <div class="button-row-container">
                <div class="toggle-element toggle-text">BLOWER</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="aux2" class="button-toggle button-toggle-blue button-toggle-blue-oval
                noSelect toggle-element"></div>
            </div>
            <div class="button-row-container">
                <div class="toggle-element toggle-text">AUX5</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="aux5" class="button-toggle button-toggle-blue button-toggle-blue-oval
                noSelect toggle-element"></div>
            </div>
        </div>
        <div class="toggle-row" style="display: none;">
            <div class="button-row-container">
                <div class="toggle-element toggle-text">VALVE4</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="valve4" class="button-toggle button-toggle-blue button-toggle-blue-oval
                noSelect toggle-element"></div>
            </div>

            <div class="button-row-container">
                <div class="toggle-element toggle-text">AUX6</div>
                <div id="led" class="LED off toggle-element"></div>
                <div id="aux6" class="button-toggle button-toggle-blue button-toggle-blue-oval
                noSelect toggle-element"></div>
                <!-- style="display: none;" -->
            </div>
        </div>
    </div>
    <h2 style="display: none;">Receive:</h2>
    <div id="log" style="display: none;"></div>
</body>

</html>