<!DOCTYPE HTML>
<html>
<head>
    <title>Pool-Pi</title>
    <!-- TODO add favicon -->
    <link rel="stylesheet" href="/../static/styles.css">
    <script src='/../static/jquery.min.js'></script>
    <script src='/../static/socket.io.js'></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                $('#transport').text(socket.io.engine.transport.name);
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handler for the model update
            socket.on('model', function(msg){
                msgObj = JSON.parse(msg);
            // For every item in json message, need to update
                for(var i = 0, len = Object.keys(msgObj).length; i < len; ++i){
                    attributeName = Object.keys(msgObj)[i]
                    if(attributeName=="flag_data_changed"){
                        break;
                        // TODO filter this on backend so it's not sent as JSON
                    }
                    if(typeof(msgObj[attributeName]) == "object"){
                        // Attribute has state and version value
                        state = msgObj[attributeName].state;
                        version = msgObj[attributeName].version;
                        if(state=="ON"){
                            color = 'color:green'
                        }
                        else if(state=="INIT"){
                            color = 'color:lightgrey'
                        }
                        else if(state=="OFF"){
                            color = 'color:red'
                        }
                        else if(state=="BLINK"){
                            color = 'color:yellow'
                        }
                        document.getElementById(attributeName).style=color;
                    }
                    else{
                        // Attribute only has state value
                        state = msgObj[attributeName];
                        version = "NA";
                    }
                    // Update corrosponding html
                    document.getElementById(attributeName).textContent=state+", "+version;
                    
                }
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            $("#testform").on("change", "input:checkbox", function(event){
                socket.emit('my_toggle_event', {id:'testid',data: $('#testid:checked').length});
                return false;
            });
            $('switch.toggler').click(function(){
                console.log($(this).attr('id'));
                console.log($(this).attr('class'));
                $(this).toggleClass('off');
            });

        });
    </script>
</head>
<body>
    <h1>Pool-Pi</h1>
    <p>
        Average ping/pong latency: <b><span id="ping-pong"></span>ms</b><br>
        Display: <b><span id="display"></span></b><br>
        air temp: <b><span id="airtemp"></span></b><br>
        pool temp: <b><span id="pooltemp"></span></b><br>
        day: <b><span id="datetime"></span></b><br>
        salinity: <b><span id="salinity"></span></b><br>
        heater1: <b><span id="heater1"></span></b><br>
        valve3: <b><span id="valve3"></span></b><br>
        checkSystem: <b><span id="checkSystem"></span></b><br>
        pool: <b><span id="pool"></span></b><br>
        spa: <b><span id="spa"></span></b><br>
        filter: <b><span id="filter"></span></b><br>
        lights: <b><span id="lights"></span></b><br>
        aux1: <b><span id="aux1"></span></b><br>
        aux2: <b><span id="aux2"></span></b><br>
        service: <b><span id="service"></span></b><br>
        aux3: <b><span id="aux3"></span></b><br>
        aux4: <b><span id="aux4"></span></b><br>
        aux5: <b><span id="aux5"></span></b><br>
        aux6: <b><span id="aux6"></span></b><br>
        valve4: <b><span id="valve4"></span></b><br>
        spillover: <b><span id="spillover"></span></b><br>
        systemOff: <b><span id="systemOff"></span></b><br>
        aux7: <b><span id="aux7"></span></b><br>
        aux8: <b><span id="aux8"></span></b><br>
        aux9: <b><span id="aux9"></span></b><br>
        aux10: <b><span id="aux10"></span></b><br>
        aux11: <b><span id="aux11"></span></b><br>
        aux12: <b><span id="aux12"></span></b><br>
        aux13: <b><span id="aux13"></span></b><br>
        aux14: <b><span id="aux14"></span></b><br>
        superChlorinate: <b><span id="superChlorinate"></span></b><br>
    </p>
    <h2>Send:</h2>
    <switch id="test1" href="#" class="toggler off">&nbsp;</switch>
    <switch id="test2" href="#" class="toggler off">&nbsp;</switch>
    <!-- <form id="testform" method="POST" action='#'>
        <label class="switch switch-on-off">
            <input class="switch-input" type="checkbox" id="testid" checked=''/>
            <span class="switch-label" data-on="ON" data-off="OFF"></span> 
            <span class="switch-handle"></span> 
        </label> -->
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
