<!DOCTYPE HTML>
<html>
<head>
    <title>Pool-Pi</title>
    <link rel="stylesheet" href="/../static/styles.css">
    <script src='/../static/jquery.min.js'></script>
    <script src='/../static/socket.io.js'></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                $('#transport').text(socket.io.engine.transport.name);
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handler for the model update
            socket.on('model', function(msg){
                msgObj = JSON.parse(msg);
            // For every item in json message, need to update
                for(var i = 0, len = Object.keys(msgObj).length; i < len; ++i){
                    attributeName = Object.keys(msgObj)[i]
                    if(typeof(msgObj[attributeName]) == "object"){
                        // Attribute has state and version value
                        state = msgObj[attributeName].state;
                        version = msgObj[attributeName].version;
                    }
                    else{
                        // Attribute only has state value
                        state = msgObj[attributeName];
                        version = "NA";
                    }
                    if(attributeName=="flag_data_changed"){
                        break;
                        // TODO filter this on backend so it's not sent as JSON
                    }
                    // Update corrosponding html
                    document.getElementById(attributeName).textContent="State: "+state+", Version: "+version;
                }
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            $("#testform").on("change", "input:checkbox", function(event){
                socket.emit('my_toggle_event', {data: $('#testid:checked').length});
                return false;
            });

        });
    </script>
</head>
<body>
    <h1>Pool-Pi</h1>
    <p>
        Average ping/pong latency: <b><span id="ping-pong"></span>ms</b><br>
        Display: <b><span id="display"></span></b><br>
        Current air temp is: <b><span id="airtemp"></span></b><br>
        Current pool temp is: <b><span id="pooltemp"></span></b><br>
        Current day is: <b><span id="datetime"></span></b><br>
        Current salinity is: <b><span id="salinity"></span></b><br>
        Current heater1 is: <b><span id="heater1"></span></b><br>
        Current valve3 is: <b><span id="valve3"></span></b><br>
        Current checkSystem is: <b><span id="checkSystem"></span></b><br>
        Current pool is: <b><span id="pool"></span></b><br>
        Current spa is: <b><span id="spa"></span></b><br>
        Current filter is: <b><span id="filter"></span></b><br>
        Current lights is: <b><span id="lights"></span></b><br>
        Current aux1 is: <b><span id="aux1"></span></b><br>
        Current aux2 is: <b><span id="aux2"></span></b><br>
        Current service is: <b><span id="service"></span></b><br>
        Current aux3 is: <b><span id="aux3"></span></b><br>
        Current aux4 is: <b><span id="aux4"></span></b><br>
        Current aux5 is: <b><span id="aux5"></span></b><br>
        Current aux6 is: <b><span id="aux6"></span></b><br>
        Current valve4 is: <b><span id="valve4"></span></b><br>
        Current spillover is: <b><span id="spillover"></span></b><br>
        Current systemOff is: <b><span id="systemOff"></span></b><br>
        Current aux7 is: <b><span id="aux7"></span></b><br>
        Current aux8 is: <b><span id="aux8"></span></b><br>
        Current aux9 is: <b><span id="aux9"></span></b><br>
        Current aux10 is: <b><span id="aux10"></span></b><br>
        Current aux11 is: <b><span id="aux11"></span></b><br>
        Current aux12 is: <b><span id="aux12"></span></b><br>
        Current aux13 is: <b><span id="aux13"></span></b><br>
        Current aux14 is: <b><span id="aux14"></span></b><br>
        Current superChlorinate is: <b><span id="superChlorinate"></span></b><br>
    </p>
    <h2>Send:</h2>
    <!-- <form id="testform" method="POST" action='#'>
        <label class="switch switch-on-off">
            <input class="switch-input" type="checkbox" id="testid" name="testid" checked=checked/>
            <span class="switch-label" data-on="ON" data-off="OFF"></span> 
            <span class="switch-handle"></span> 
        </label>
    </form> -->
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
