body {
  background-color: rgb(173, 204, 231);
}

switch.toggler {
  background: green;
  cursor: pointer;
  border: 2px solid black;
  border-left-width: 15px;
  padding: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.1s ease;
}

switch.toggler.off {
  background: red;
  border-left-width: 2px;
  border-right-width: 15px;
}

.switch-row-container {
  display: table;
}

.switch {
  display: table-cell;
}