body {
  background-color: rgb(173, 204, 231);
}

switch.toggler {
  background: rgb(20, 240, 0);
  cursor: pointer;
  border: 2px solid black;
  border-left-width: 15px;
  padding: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.1s ease;
}

switch.toggler.off {
  background: rgb(119, 119, 119);
  border-left-width: 2px;
  border-right-width: 15px;
}

.switch-row-container {
  display: flex;
  table-layout: fixed;
  margin: 1px;
}

.switch {
  display: flex;
  width: 120px;
  justify-content: flex-end;
}