body {
  background-color: rgb(230, 240, 255);
  font-family: helvetica;
}

.loading {
  width: 100%;
  height: 0;
  text-align: center;
}

.loading-image {
  width: 50px;
  border-radius: 5px;
  margin-top: 120px;
}

.panel {
  border: solid;
  border-radius: 35px;
  padding-bottom: 20px;
  width: 520px;
  background-color: lightgray;
}

.topPanel{
  display: table;
  height: 120px;
  background: black;
  width: 400px;
  margin: 20px;
  border: 2px dashed green;
}

.topLeft {
  display: table-cell;
  margin: 0;
  background: white;
  color: black;
  padding: 10px;
  border: 2px solid purple;
  vertical-align: middle;
}

.topRight {
  display: table-cell;
  margin: 0;
  background: white;
  color: black;
  padding: 10px;
  border: 2px solid blue;
  vertical-align: middle;
}

.display {
  border: solid;
  background-color: rgb(45,220,45);
  font-family: 'courier new';
  font-weight: bold;
  font-size: 18px;
  height: 40px;
  text-align: center;
  width: 350px;
  display: inline-block;
  margin: 0 auto;
}

.buttonContainer {
  display: inline-block;
  width: 120px;
  /* justify-content: flex-end; */
  text-align: center;
  margin: 0 auto;
}

.buttonRow {
  display: flex;
  table-layout: fixed;
  margin: 1px;
  text-align: center;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  /* justify-content: flex-end; */
  border: solid;
  border-radius: 1px;
  border-color: black;
  text-align: center;
  margin: 0 auto;
}

switch.toggler {
  background: rgb(20, 240, 0);
  cursor: pointer;
  border: 2px solid black;
  border-left-width: 15px;
  padding: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.1s ease;
  margin-left: 4px;
}

switch.toggler.off {
  background: rgb(119, 119, 119);
  border-left-width: 2px;
  border-right-width: 15px;
  margin-left: 4px;
}

switch:hover {
  box-shadow: 0 0px 5px 0px lightgray, 0 0px 5px 0px 
}

.switch-row-container {
  display: flex;
  table-layout: fixed;
  margin: 1px;
}

.switch {
  display: flex;
  width: 160px;
  justify-content: flex-end;
}